.jobCards {
    background-color: #7f65ff;
}

.card-img-top {
    height: 300px;
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 63px;
    height: 63px;
    
    background-color: rgb(255, 255, 255);
    
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge{
    display:flex;
    align-items: center;
}
.badge span {
    background-color: #fffbec;
    width: 80px;
    height: 25px;
    
    border-radius: 5px;
    display: flex;
    color:var(--pink);
    justify-content: center;
    align-items: center
    
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}


.card-no-border .card {
    border-color: #d7dfe3;
    border-radius: 4px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}



.pro-img {
    margin-top: -80px;
    margin-bottom: 20px
}

.little-profile .pro-img img {
    width: 128px;
    height: 128px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: var(--pink);
    padding: 2px;
    border-radius: 100%
}


.btn-rounded.btn-md {
    padding: 12px 35px;
    font-size: 16px
}

.btn-primary,
.btn-primary.disabled {
    background: #7460ee;
    border: 1px solid #7460ee;
    -webkit-box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
    box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in
}



.m-t-20 {
    margin-top: 20px
}