.appealInput{
    border:none;
    border-bottom:1px solid var(--pink);
    cursor:pointer;
    caret-color: transparent;
}
.appealInput:focus{
    border:none;
    border-bottom:1px solid var(--pink);
    caret-color: transparent;
    outline:none;
}