.borderr{
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
background-color: #775bf4;
    border-top: 1px solid #785BF4;
    border-bottom: 1px solid #785BF4;
    border-right: 1px solid #785BF4;

}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}